@import "../../../global.scss";


.verde{

    clip-path: polygon(0 18%, 100% 11%, 100% 100%, 0% 100%);
    background-color:#9fffb4 ;
    width: 100%;
    height: 100%;

position: absolute;
z-index: -1;
}
.tittle{

 text-align: start;
 color:#ff4193; 
margin-left: 5%;
font-style: normal;

}
.div1{
   
    z-index: 1;
   
    height: 230px;
    
   
    
  
  border-bottom: solid;
  border-width: 0.5px;

}

.image{
  position: absolute;
width: 96px;
height: 113px;

margin-left: 49px;
border-radius: 15px;
border-color: black;
border-width: 1px;
margin-top: 30px;

}
.nombrePerf{
    height: 100px;
    z-index: 2;
    color: #ff4193;
  position: absolute;
  font-size: 20px;
  vertical-align: top;
   text-align: start;
   margin-left: 159px;
   text-align: start;
   margin-top: 70px;
   font-style: normal;
}
.edad{
  
   margin-top: 35%;
  height: 50px;
  z-index: 2;
  color: black;
   text-align: start;
 font-size: 15px;
  vertical-align: center;
  margin-bottom: 10%;
  margin-left: 47px;

}


.div2{
    z-index: 1;
    margin: auto;
    border-style: solid;

        height: 170px;
      
         
     
         .sobreMi{
            height: 50px;
            z-index: 2;
          color: #ff4193;
           margin-top: 250px;
          font-size: 15px;
          vertical-align:inherit;
          text-align:start;
          margin-left: 5%;
        }
       


        
        .descripcion{
            height:auto;
            z-index: 2;
          color: black;
           margin-top: 70px;
          font-size: 12px;
          vertical-align:inherit;
        
          margin-left: 5%;
          margin-right: 5%;
        
         
        }
        
      
        border-bottom: solid;
        border-width: 0.5px;
    
    }
 .div3{

        z-index: 1;
        
            height: 170px;
       
         
            border-bottom: solid;
            border-width: 0.5px;
            .infor{
              margin-top: 5%;
                color: #ff4193;
                font-size: 15px;
               margin-left: 5%;
               font-style: normal;

               .verif{
                   color: black;
                   width: 300px;
                   .verif1{
                         

                  }
                  .verif2{
   
   
                  }
                   


               }
               

            }
        
    }
 .div4{

    display: flex;
            z-index: 1;
            
                height: 100px;
              
               
             
            
            
      }
      .vivir{

       margin-left: 5%;

      }
      .verif{
        color: black;
        width: 300px;
        margin-left: 5%;
        margin-top: 1%;
        font-weight: bold;

    }
    .verif1{
      color: black;
      width: 300px;
      margin-left: 5%;
      margin-top: 1%;
      font-weight: bold;


   }
   .verif2{
    color: black;
    width: 300px;
    margin-left: 5%;
    margin-top: 1%;
    font-weight: bold;


   }
   .planespub{
     position: absolute;
     margin-left: 5%;
     margin-top: 5%;
     width: 375px;
     height: 50%;

   }
   
  .usuaria{

    margin-left: 5%;
    margin-top: 15%;
    vertical-align: bottom;


   }
  