<ion-content>

  <div class="verde">

  </div>

  <div class="container">
    <div class="div1">

      <div class="titleContainer">
        <p class="planTitleFirstWord"> <strong>Mi</strong>  perfil</p> 
      </div>


      <div class="nombreEdad-Container"> 

        <div class="image-Container">
          <img class="image" [src]="imagen" />
        </div>

        <div class="nombrePersona-Container">
          <p class="nombrePerf">{{username}}</p>
          <p class="edad">{{edadperf}} años</p>
        </div>

      </div>

      <div class="nivelJoiner">
        <img class="img" src="../../../assets/Group176.png" />
        <p class="textNivelJoiner">Nivel joiner : Medio</p>
      </div>
     
    </div>

    <div class="div2">
      <p class="sobreMi">Sobre mi</p>

      <div class="descripcionContainer">
        <p class="descripcion">{{descrip}}</p>
      </div>
      
      <p class="vivir">Vivo en {{ciudad}}</p>
    </div>

    <div class="div3">

      <p class="infor">Informción verificada</p>
      <p class="textPerfil">Perfil</p> 
      <p class="textCorreoElectronico">Correo electrónico</p>
      <p class="textNTelefono">Número de teléfono</p>

    </div>

    <div class="div4">

      <p class="planespub">{{numplans}} planes publicados</p>
      <p class="usuario">{{usuariaDesde}}</p>

    </div>


    <div class="div5">
      <button (click)="closeSession()" class="button-55" roll="button" expand>LOG OUT</button>
    </div>
  </div>

  
</ion-content>
