@import "../../../global.scss";


.verde{

    clip-path: polygon(0 18%, 100% 11%, 100% 100%, 0% 100%);
    background-color:#9fffb4 ;
    width: 100%;
    height: 100%;

position: absolute;
z-index: -1;
}
.tittle{

 text-align: start;
 color:#ff4193; 
margin-left: 5%;
font-style: normal;

}
.div1{
   
    z-index: 1;
   
    height: 230px;
    
   
    
  
  border-bottom: solid;
  border-width: 0.5px;

}

.image{
  position: absolute;
width: 96px;
height: 113px;

margin-left: 49px;
border-radius: 15px;
border-color: black;
border-width: 1px;
margin-top: 30px;
background-size: cover;
-webkit-background-size: cover;

}
.nombrePerf{
    height: 100px;
    z-index: 2;
    color: #ff4193;
  position: absolute;
  font-size: 20px;
  vertical-align: top;
   text-align: start;
   margin-left: 159px;
   text-align: start;
   margin-top: 70px;
   font-style: normal;
}
.edad{
  
   margin-top: 35%;
  height: 50px;
  z-index: 2;
  color: black;
   text-align: start;
 font-size: 15px;
  vertical-align: center;
  margin-bottom: 10%;
  margin-left: 47px;

}
.level{
z-index: 5;
margin-left: 30px;

top: 30px;

}


.div2{
    z-index: 1;
    margin: auto;
    border-style: solid;

        height: 170px;
      
         
     
         .sobreMi{
            height: 50px;
            z-index: 2;
          color: #ff4193;
           margin-top: 230px;
          font-size: 11px;
          vertical-align:inherit;
          text-align:start;
          margin-left: 49px;
        }
       


        
        .descripcion{
            height:auto;
            z-index: 2;
          color: black;
           margin-top: 50px;
          font-size: 14px;
          vertical-align:inherit;
        
          margin-left: 49px;
          margin-right: 5%;
        
         
        }
        
      
        border-bottom: solid;
        border-width: 0.5px;
    
    }
 .div3{

        z-index: 1;
        
            height: 170px;
       
         
            border-bottom: solid;
            border-width: 0.5px;
            .infor{
              margin-top: 3%;
                color: #ff4193;
                font-size: 11px;
                margin-left: 49px;
               font-style: normal;
               height: 30px;

               }
               

            }
        
    
 .div4{

    display: flex;
            z-index: 1;
            
                height: 100px;
              
               
             
            
            
      }
      .vivir{

        margin-left: 49px;
        font-size: 14px;
      }
      .verif{
        color: black;
        width: 14px;
        margin-left: 49px;
        margin-top: 1%;
        font-weight: bold;
       

    }
    .verif1{
      color: black;
      width: 14px;
      margin-left: 49px;
      margin-top: 1%;
      font-weight: bold;
      font-size: 14px;
     


   }
   .verif2{
    color: black;
    width: 14px;
    margin-left: 49px;
    margin-top: 1%;
    font-weight: bold;
    font-size: 14px;
   
   
   }
   .planespub{
     position: absolute;
     margin-left: 49px;
     margin-top: 5%;
     width: 375px;
     height: 50%;
     font-size: 14px;

   }
   
  .usuaria{

    margin-left: 49px;
    margin-top: 15%;
    vertical-align: bottom;
    font-size: 14px;


   }
   
  .salir{
    text-align: end;
    position: relative;
    left: 270px;
   top: 15px;
  }
  .divperf{

margin-bottom: 2%;    
 
  }
  .divcor{

    margin-bottom: 2%; 
    margin-top: 2%;

  }
  .divnum{
    margin-top: 2%;

  }