

<ion-content>
  
  <div class="verde" ></div>
   
  
  
  <div class="div1" >
    <ion-toolbar>
      <ion-title class="tittle"> ⪡ Mi perfil</ion-title>
    </ion-toolbar>
   
    <div style="width: 30%; float:left">
      <ion-img class="image" [src]="imagen" ></ion-img>
   </div>
   <div style="width: 70%; height:50%;float:right">
    <ion-title class="nombrePerf" >{{username}}</ion-title>
      <p class="edad">{{edadperf}}<em> años</em></p>
      <div style="width: 100%" class="nivel" >
        <img class="level" src="../../../assets/Group176.png" align="left" >Nivel joiner : Medio
             
       </div>

 </div>
 

    </div>
    <div class="div2" >

      <ion-title class="sobreMi" >Sobre mi</ion-title>
   
      <p class="descripcion" >{{descrip}}</p>
      <p class="vivir">Vivo en <em>{{ciudad}}</em></p> 
     


    </div>
    <div class="div3" >
     
      
      <p class="infor">Informción verificada</p>
      <div class="divperf">
      <img src="../../../assets/Vector.png" align="left" class="verif">  Perfil
    </div>
    <div class="divcor">
      <img src="../../../assets/Vector.png" align="left"  class="verif1">  Correo electrónico
    </div>
    <div class="divnum">
      <img src="../../../assets/Vector.png" align="left" class="verif2">  Número de teléfono


   
  </div>


    </div>
    <div class="div4" >

        <p class="planespub">{{numplans}}  <em>planes publicados</em>


        </p>
        <p class="usuaria">Usuaria desde junio de 2021
            


        </p>



    </div>




    <div class="div5">
      <button (click)='closeSession()' class="salir" expand>LOG OUT</button>
    </div>

</ion-content>
