<ion-header>
  <ion-toolbar>
    <ion-title class="tittle">Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="verde" ></div>
   
  
  
  <div class="div1" >
   
   
      <ion-title class="nombrePerf" >{{username}}</ion-title>


    </div>
    <div class="div2" >

      <ion-title class="sobreMi" >Sobre mi</ion-title>
      <ion-title class="descripcion" >Soy una persona que le gusta 
        el futbol, salir con amigos a tomar unas cervezas y de vez en cuando jugar al ordenador
      .Mis planes ideales incluyen al deporte y a tomar algo.</ion-title>



    </div>
    <div class="div3" >





    </div>
    <div class="div4" >





    </div>




  

</ion-content>
