<!-- <ion-header class="ion-no-border fixed top-0 left-0">
  <ion-toolbar>
    <button class='back-button' onclick="window.history.go(-1); return false;">
        <p class='title-back'>
          Mis chats
        </p>
    </button>
  </ion-toolbar>
</ion-header> -->

<div class='header' slot='fixed'>
  <button class='back-button' onclick="window.history.go(-1); return false;">
    <div class="txt">  
      <p class='title-back'>
        <span style="color:blueviolet">{{fWord}}</span>
        {{rWord}}
      </p>
    </div>
    </button>
</div>

<div #cont class="main-div">
  <ng-container *ngIf='chat$ | async as chat'>

    <div class = 'chat'>
      <ion-list>
        <ion-item *ngFor='let msg of chat.messages; trackBy: trackByCreated' 
        [ngStyle]="{'direction':isMyMsg(msg.id)}">
          <ion-avatar slot="start">
            <img src="../../../assets/logo/logo.png">
          </ion-avatar>
          <ion-label>
            <h2>{{msg.name}}</h2>
            <h3>{{msg.content}}</h3>
            <p>{{msg.createdAt | date :'shortTime'}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      
    </div>

  </ng-container>
</div>
  <!-- <ion-item class='form' slot="fixed">
    <ion-input [(ngModel)]='newMsg' (keydown.enter) = 'submit()' placeholder="escribe un mensaje">
    </ion-input>
    <ion-button (click)='submit()'>Enviar</ion-button>  
  </ion-item> -->

<div class='form' slot="fixed">
  <input [(ngModel)]='newMsg' (keydown.enter) = 'submit()' placeholder="escribe un mensaje">
  <button (click)="submit()">Enviar</button>
</div>  
