
<div class='header' slot='fixed'>
  <button class='back-button' onclick="window.history.go(-1); return false;">
    <div class="txt">  
      <div class='image'>
        <img style='margin-left:9px' class = 'h-full
        w-full
        object-cover object-center
        rounded-md
        relative'
        src="https://thispersondoesnotexist.com/image"
        decoding="sync"
        importance="high"/>
      </div>
      <p class='title-back'>
        <span class="title-mis">{{fWord}}</span>
        {{rWord}}
      </p>
    </div>
    </button>
</div>

<div #cont class="main-div">


  <div *ngFor="let date of dates;index as index">
    <p class="dateBox">{{date}}</p>
    <div class = 'mn'>
      <ul>
        <li *ngFor="let message of msgByDate[index];trackBy: trackByCreated">
          <div class="message" [ngClass]="message.id == userId ? 'mine' : 'others'">
            <p>{{ message.name}}: {{ message.content }}</p>
            <div class='time'>{{message.createdAt | date:'shortTime'}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class='send'>
  <input [(ngModel)]='newMsg' (keydown.enter) = 'submit()' placeholder="Envia un mensaje">
  <button class='sendButton' (click)="submit()"></button>
</div>
