  .header{
    position: relative;
    z-index: 0;
    display: flex;
    width:100%;
    height: 20%;
    background-color: #BDFFCC;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 90%);
  }
  .txt{
    display: flex;
      width: 100%;
      text-align: initial;
  }
  .title-mis{
    margin-left: 6px;
    font-weight: 300;
    color:#FF2D87;
  }
  .title-back{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 425;
    color:#FF2D87;
  }
.back-button {
    color: var(--pink) !important;
    margin-left: 5%;
    font-size: 25px;
    width : 100%;
  }
 

.main-div{
    overflow: scroll;
    height: 100%;
    &::after{
      content: " ";
      display: block;
      height: 30px;
    }
  }

  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

.mn {
  display: block;
  padding:8px;
  &::after{
    content: " ";
    display: block;
    height: 5px;
  }
  &::before{
    content: " ";
    display: block;
    height: 5px;
  }
}
*{
overflow: hidden;
}
.time{
margin: 0;
position: absolute;
bottom: 0;
right: 0;
margin-right: 2%;
font-size: 13px;
}
.dateBox{
  color: black;
  text-align: center;
  width: fit-content;
  margin: auto;
  font-size: 13px;
}
ul {
list-style-type: none;
}
.send{
/* width: 940px; */
display: flex;
width: 100%;
height: 57px;
background-color: #BDFFCC;
position: fixed;
bottom: 0;

}

.sendButton{
  background: url("../../../assets/icon/rightArrow.png") no-repeat;
  margin: auto;
  height: 20px;
  width: 35px;
  background-size: 13px;
}
.image{
  width: 4.25rem;
  height: 2.5rem;
  position: relative;
  display: flex;
  margin: auto;
  &::before{
    content: url('../../../assets/icon/leftArrow.png');
    margin:auto;
  }
}
.image::after{
  content: "";
  clear: both;
  
}

input{
  border:0;
margin-top:auto;
margin-bottom:auto;
margin-left: 10px;
width:100%;
height: 31px;
background-color: white;
color: black;
padding-left: 10px;
margin-right: 14px;
  &::placeholder{
    color:#FF2D87;
  }
  &:focus-visible{
    border:0;
  }
  // &::after{
  //   content: url("../../../assets/icon/rightArrow.png");
  // }
}
.msg {
/* margin: auto; */
border: 1px solid blue;
width: 60%;
position: relative;
}
.message {   
border-radius:10px;   
color: white;
padding: 13px;
line-height: 17px;
font-size: 16px;
margin-bottom: 15px;
width: 70%;
position: relative;
border: 1px solid gray;
}
.message::after {
  bottom: 100%;
  left: 7%;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: green;
  border-width: 10px;
  margin-left: -10px;
}
.mine {
  color: black;
  background-color: #EBFFEF;
  float: right;
}
.others {
  float: left;
  background-color: white;
  color: black;
}

.mine::after{
  border-bottom-color: blue;
  left: 93%;
}
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}