// @import '../../../global.scss';

*{

    text-align: left;
    user-select: none; 

    p{

        margin-bottom: 8px;

    } 

}


.container{

    background-color:#BDFFCC;
    margin: auto;
    perspective: 700px;
    height: 100%;
    width: 100%;
    font-family: MANROPE;
    overflow:hidden;
    
    .logoContainer{

        position:absolute;
        top: 6%;
        left: 6%;

        .logo{

            width: 64px;
            height: 37px;

        }

    }

    .door{

        display: inline-block;
        width:100%;
        height:calc(100% - 40px);
        position: relative;
        top: 40px;
        background: White;
        transform: rotateY(310deg);
        transition: all 1s;
        transform-origin: right;
    
    }
    
    .planInfo{

        // display: inline-block;
        text-align: center;
        position: absolute; 
        left: 10%; 
        top: 20%;
        width: 90%;
        height:70%;


        .titleContainer{

            display: flex;

            .planTitleFirstWord{

                color: #FF2D87;
                margin-bottom: 5px;
                font-family: MANROPE;
                font-weight: 700;
                font-size: 42px;
                margin-bottom:20px;
                height: 160px;
                color: #FF2D87;
                
                strong{
                    font-weight: 300;
                    font-size: 42px;
                }
            }
            
            .planTitle{
                
                
    
            }

        }
        

        .creatorInfo{
            margin-top: 23px;
            height: 80px;
            display: flex;
            justify-content: flex-start;

            .planCreatorProfilePic{
                
                height: 48px;
                width: 48px;
                border-radius: 10px

            }

            .creatorContainer{

                margin-left: 15px;

                .planCreator{

                    font-size: 21px;
                    margin-top: 6px;
                }
                
                

            }
            
        }
        .planDateLocationContainer{
    
            .date{

                font-size: 13px;

            }
            .date::before{

                content: url(../../../assets/icon/clockIcon.png);
                margin-right: 7px;

            }
            .location{
                    
                font-size: 13px;
                
                
            }

            .location::before{
                
                content: url(../../../assets/icon/locationIcon.png);
                margin-right: 7px;

            }
    
        }

        .assistants{

            font-size:11px; 

            .assistantsLink{

                height:35px;
                font-size:11px;

            }

        }
    
        .subCategoriesContainer{

            margin-top: 15px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;

            .subCategories{

                margin-right: 10px;
    
                .chip-category{
                    
                    color: white;
                    background-color: #FF2D87;
    
                }
                
            

                .chip{

                    margin-top:6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: auto;
                    height: 25px;
                    padding-left: 7px;
                    padding-right: 7px;
                    padding-bottom: 4px;
                    padding-top: 4px;
                    color: black;
                    border: 2px solid black;
                    border-radius: 5px;
                    font-size: 12px;
    
                }
    
                
    
            }

        }
        
    }

    .swipeInstructions{

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        position: absolute;
        bottom: 3%;


        .intructionsText{

            color: #68A37C;
            font-size: 14px;

        }

    }

}





