  <ion-content >

    <div class="container">

      <div #door class="door"></div>

      <div class="logoContainer">
        <img class="logo" src="../../../assets/logo/logo.png" />
      </div>

      <div class="planInfo">
    
        <h1 class="planTitle">{{plan.title}}</h1>

        <div class="creatorInfo">
          <img class="w-12 h-12 mr-2 rounded-md planCreatorProfilePic"  *ngIf="plan.creationUser?.image"
          [src]="plan.creationUser?.image">
          <div class="creator-LocationContainer">
            <p class="planCreator">!Únete a <strong>{{plan.createdBy}}</strong>!</p>
            <p class="location">{{calle}}</p>
          </div>
        </div>

        <div class="planDateContainer">
          <p class="date">{{plan.time}}</p>
        </div>

        <div class="asistants">
          <!-- <img class="w-12 h-12 mr-2 rounded-md planCreatorProfilePic"  *ngIf="plan.creationUser?.image"
          [src]="plan.creationUser?.image"> -->
          <p class="assistantsLink">EJEMPLO: <strong>{{assistantsNumber}}</strong> asistentes más</p>
        </div>

        <!-- <join-tag-list [tags]="plan.tags"></join-tag-list> -->
        <div class="subCategoriesContainer">

          <div class="subCategories" *ngFor="let tag of plan.tags">
            <!-- <div *ngIf="plan.tags[0]== tag" class="chip-category">
              <ion-label>{{tag.category}}</ion-label>
            </div> -->

            <div class="chip">
              <ion-label>{{tag.name}}</ion-label>
            </div>

            
          </div>

        </div>

      </div>

      <div class="moreInfoContainer">

        <div class="moreInfo-icon">

        </div>

      </div>
      
      <div class="swipeInstructions">
        <div class="iconLeft">

        </div>
        <p class="intructionsText"> <strong> << RECHAZAR PLAN  --  ACEPTAR PLAN >></strong> </p>

        <div class="iconRight">

        </div>

      </div>

    </div>

  </ion-content>

