

<head>
  
  
  
  <link rel='stylesheet' href='../../../theme/palette.scss'>
  <link rel='stylesheet' href='../../../theme/variables.scss'>
  <link rel='stylesheet' href='../../../theme/fonts.scss'>
  <link rel='stylesheet' href='../../../global.scss'>

  <script src='main.js'></script>
</head> -->
<body>
  

  <ion-content >
    <div class="container"  >
      <div class="logoContainer">
        <img class="logo"  src="../../../assets/logo/logo.png">
      </div>
      <div class="planInfo"  >
        <p class="planCreatorExample">Únete a Javi</p>
        <p class="planCreator"></p>
  
        <h1 class="planTitle"></h1>
  
        
        
        <div class="locationContainer">
          <ion-icon name="location-outline"></ion-icon>
          <h4 class="planLocation"></h4>
        </div>
  
        <div class="ilustration">
  
        </div>
        <div class="dateBadge">
  
        </div>

          <div class="subCategories"  *ngFor="let tag of plan.tags">
            <div *ngIf="plan.tags[0]== tag" class="chip-category">
              <ion-label >{{tag.category}}</ion-label>
            </div>
            
            <div class="chip-name">
              <ion-label>{{tag.name}}</ion-label>
            </div>
          </div>
  
        
        
  
        <div class="planDetail">
          <!-- <ion-icon>INFO</ion-icon> -->
        </div>
  
      </div>
      <div class="door" ></div>
    </div>
  </ion-content>
  



</body>


