ion-content {
    position: absolute;
    margin-top: 64px;
    left: 0px;
    
    
    
    // margin: 0 auto;
    // margin-top: 0;
    // margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container{
    position:relative;
    margin-top: 10%;
    background-color:#9fffb4;
    margin: auto;
    perspective: 700px;
    height: calc(100% - 64px);
    margin-top: 64px;
    width: 100%;

}
.caja{
    display: inline-block;
    width:100%;
    height:100%;
    // margin-top:64px;
    background: White;
    transform: rotateY(280deg);
    transition: all 2s;
    
    transform-origin: right;
    
    border-top: 6px gray solid;
    border-left: 5px gray solid;
    border-bottom: 5px gray solid;
    outline: black;
}

.title{
    display: inline-block;
    text-align: center;
    position: absolute; 
    left: 30%; 
    top: 30%;
    
}
