<!-- <ion-header>
  <ion-toolbar>
    <ion-title>recommendedPlans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->



<!-- <ion-list>

  <ion-item class="ionItem-Plans">

    <ion-label>Tipo de plan</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option *ngFor="let filter of filters" value="filter">{{filter}}</ion-select-option>
    </ion-select>

  </ion-item>

</ion-list> -->

<ion-content >
  <div class="container"  >
    <div class="planInfo"  >
      <p class="planCreator"></p>
      <h1 class="planTitle"></h1>
      <h2 class="planLocation"></h2>
      <!-- <h2 class="planCategory">{{plans[planNumber].tags}}</h2> -->
      <!-- <h2 class="planSubCategory">{{plans[planNumber].title}}</h2> -->
      <div *ngFor="let tags of plan.tags">
        <ion-chip class="chip-category">
          <ion-label >{{tags.category}}</ion-label>
        </ion-chip>
        <ion-chip class="chip-name" outline="true">
          <ion-label>{{tags.name}}</ion-label>
        </ion-chip>
      </div>
      <div class="planDetail">
        <!-- <ion-icon>INFO</ion-icon> -->
      </div>

    </div>
    <div class="door" ></div>
  </div>
</ion-content>
