.content{
    height: 100%;
    width: 100%;
    background-color: bisque;

    app-plan-preview{
        height:100%;
        width: 96%;
        background-image: url(../../../assets/prueba.jpg);
        border-radius:8px;
    }
    ion-slides {
        height: 81%;
        width: 100%;
        position: fixed;
        bottom:4%;
        
      }

    #background-content{
        background-color: beige;
    }
}
