@import "../../../global.scss";

:host::ng-deep {
  --ion-toolbar-background: transparent;
  ion-back-button {
    --color: var(--pink) !important;
  }
  .content-header {
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  }

}
