@import "../../../../global.scss";

.tag {
  border-width: 1px;
  border-color: var(--dark);
  color: var(--dark);
  font-size: 14px;
  padding: 2px 4px 2px 4px;
  white-space: nowrap;
  border-radius: 1px;
}
