<ion-content >

  <div class="logoChatContainer">
    <div class="logoContainer">
      <img class="logo" src="../../../assets/logo/logo.png" />
    </div>
    <div class="chatContainer">
      <img class="chat" src="../../../assets/icon/chatIcon.png"  (click)="goToMyChats()" />
      
    </div>
  </div>

  <!-- <div  class="door" >
  


  </div> -->

  <div  class="misPlanesContainer">
    
    <div class="titleContainerDiv1">

      <p class="tituloMis">Mis</p> <p class="tituloPlanes">  planes</p>

    </div>

    <ion-slides [options]="slideOpt">

      <ion-slide *ngFor="let plan of plansCreados ;trackBy:identify; last as isLast">

        <ion-card (click)="openPlan(plan)">

          <div class="planContainer">

            <div class="prueba">

              <ion-img class="image" src="../../../assets/planIlustrations/{{plan.tags[0].category}}.png"></ion-img>

            </div>
            

            <div class="prueba2">

              <div class="subCategories" >
            
                <div class="chip" *ngFor="let tag of plan.tags">
  
                  <ion-label><strong>{{tag.name}}</strong></ion-label>
                
                </div>
  
              </div>

            </div>

            <ion-card-content class='tituloPlan'>

              {{plan.title}}

            </ion-card-content>

          </div>

        </ion-card>

      </ion-slide>

      <ion-slide>
        <ion-card class="ion-card-last-create" (click)="createPlan()" >

          <div class="planContainer">

            <div class="prueba">

              <ion-img class="image" src="../../../assets/planIlustrations/addPlanIlustration.png"></ion-img>

            </div>

            <div class="prueba2">

              <div class="subCategories" >
          
                <div class="chip" >
  
                  <ion-label><strong>Crea tu propio plan</strong></ion-label>
                
                </div>
                
              </div>

            </div>

          </div>

        </ion-card>
      </ion-slide>

    </ion-slides>

  </div>





  

  <div class="div2">

    <div class="titleContainerDiv2">
      <p class="tituloMis">Planes</p> <p class="tituloPlanes">  añadidos</p>
    </div> 


    
    <ion-slides [options]="slideOpt">
      <ion-slide *ngFor="let plan of plans" >
        <ion-card class="ion-cardNegative" (click)="openPlan(plan)">
          <div class="planContainer">
            <div class="prueba">
              <ion-img class="image" src="../../../assets/planIlustrations/{{plan.tags[0].category}}Negative.png"></ion-img>
            </div>
            <div class="prueba2">
              <div class="subCategories" >
          
                <div class="chipNegative" *ngFor="let tag of plan.tags">
  
                  <ion-label><strong>{{tag.name}}</strong></ion-label>
                
                </div>
                
              </div>
            </div>
            <ion-card-content class="tituloPlan">
              {{plan.title}}

            </ion-card-content>
          </div>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="ion-card-last-create-negative" (click)="unetePlan()" >

          <div class="planContainer">

            <div class="prueba">

              <ion-img class="image" src="../../../assets/planIlustrations/addPlanIlustrationNegative.png"></ion-img>

            </div>

            <div class="prueba2">

              <div class="subCategories" >
          
                <div class="chip" >
  
                  <ion-label><strong>Unete a un plan</strong></ion-label>
                
                </div>
                
              </div>

            </div>

          </div>

        </ion-card>
      </ion-slide>
    </ion-slides>
    
  

  </div>
  
 


</ion-content>