@import "../../../global.scss";

//clases generales

ion-slides{

    ion-slides::before{

        content: url("../../../assets/icon/leftArrow.png");
            
    }
    
    ion-slides::after{
    
        content: url("../../../assets/icon/rightArrow.png");
            
    }

}



ion-card{

    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.ion-card-last-create-negative{
   
    background-color: #BDFFCC;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ion-cardNegative{

    background-color: #BDFFCC;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

ion-card-content{

    font-family: Manrope;
    color: #222623;
    font-weight: 500;
    font-size: 12px;
    width:100%;
    display: flex;
    justify-content: center;

}

.tituloPlan{

    background-color: transparent;
    margin-top: 5px;
    
}

.planContainer{

    width: 100%;

}

.ion-img{

    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

}

.prueba{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

//header con logo y chat 

.header{

    background-color: #BDFFCC;

}

.logoChatContainer{

    display: flex;
    justify-content: space-between;

    .logoContainer{

        margin-left: 25px;
        margin-top: 45px;
        .logo{
    
            width: 60px;
            height: 32px;
    
        }
    
    }

    .chatContainer{

        margin-right: 25px;
        margin-top: 50px;

        .chat{

            width: 31px;
            height: 24px;

        }

    }

}



//titulo Mis planes

.titleContainer{

    margin-left:10%;
    margin-bottom:5%;
    display: flex;
    justify-content: flex-start;

}
.tituloMis{

    font-size: 30px;
    color: #FF2D87;
    font-weight: 300;

}
.tituloPlanes{

    font-size: 30px;
    color: #FF2D87;
    font-weight: 425;
    margin-left: 10px;
}




//planes a los que me he apuntado

.div1{

    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 15%;
    margin-top: 8%;

}


.LaTarjet2{

    z-index: 1;
    background-color: #BDFFCC;
        
}

.door{

    z-index: 0;
    display: flex;
    flex-direction: column;
    width:100%;
    height: 8%;
    background-color: #BDFFCC;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0% 100%);
    
}

.subCategories{

    display: flex;
    justify-content:center;
    align-items: center;
    width:80%;
    margin-top: 5px;

    .chip{
    
        font-family: MANROPE;
        color:#222623;
        background-color:#BDFFCC;
        padding:3px;
        font-size:9px;
        font-weight: 400;
        border-radius: 4px;
        margin-left: 5px;

    }

    .chipNegative{

        font-family: MANROPE;
        color:#222623;
        background-color:white;
        padding:3px;
        font-size:9px;
        font-weight: 400;
        border-radius: 4px;
        margin-left: 5px;

    }

}

//titulo planes creados por mi

.titulo2{
    
    font-size: 120%;
    color:#FF2D87;
    margin-top: 100px;
    margin-left: 10%;
    z-index: 2;
    background-color: #BDFFCC;
    
}



// planes creados por mi

.div2{

    background-color:#BDFFCC;
    height:35%;

}

.image{

    width: 110px;
    height: 100px;

}



.door2{

    z-index: 0;
    display: flex;
    flex-direction: column;
    width:100%;
    height: 8%;
    background-color: #BDFFCC;
    clip-path: polygon(0 0, 100% 70%, 100% 100%, 0 100%);
        
}





