<!-- <ion-header>
  
  
  <ion-toolbar>
      <div class="logoContainer">
        <img class="logo" src="../../../assets/logo/logo.png" />
      </div>
      <ion-buttons slot="end">
        <ion-button>Chats</ion-button>
      </ion-buttons>
    </ion-toolbar>
 
</ion-header> -->

<ion-header class="header">
  <ion-toolbar>
    <div class="logoContainer">
      <img class="logo" src="../../../assets/logo/logo.png" />
    </div>
    <ion-buttons slot="end">
        <ion-icon (click)='goToMyChats()' size='large' name='chatbubble-ellipses'></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding fullscreen>
  <div  class="door" >
   
 
   </div>
  <div  class="div1">
    
   
    <ion-label class="titulo1" position="stacked">Planes aceptados </ion-label> 

    <ion-slides [options]="slideOpt">
      <ion-slide *ngFor="let plan of plans">
        <ion-card class="Latarjet" (click)="openPlan(plan)">
          <ion-img class="image" src="../../../assets/image3.png"></ion-img>
          <ion-card-content>
            {{plan.title}}
          </ion-card-content>
       </ion-card>
      </ion-slide>
    </ion-slides>
  </div>



  <div class="div2">


    <ion-label class="titulo2" position="stacked">Planes creados </ion-label> 
    <ion-slides [options]="slideOpt" class="Latarjet2">
      <ion-slide *ngFor="let plan of plansCreados" >
        <ion-card (click)="openPlan(plan)">
          <ion-img class="image" src="../../../assets/image3.png"></ion-img>
          <ion-card-content class="tituloPlan">
            {{plan.title}}
          </ion-card-content>
       </ion-card>
      </ion-slide>
      <div  class="door3">
    
 
      </div>
     
    </ion-slides>
    <div  class="door2">
    
 
    </div>
   
  </div>
 
 
</ion-content>
