.image{
    width: 200px;
    height: 200px;
  
}
.titulo1{

border-radius: 2px;

color: #9fffb4;
margin-left: 35%;
margin-bottom:10%;
}
.LaTarjet{

margin-top: 10%;
margin-bottom: 10%;

}
.titulo2{


    color:#ff4193;
 margin-top: 100px;
    margin-left: 35%;
}
.div1{
margin-top: 5%;

margin-bottom: 15%;

}