<div class="container">
  

  <div class="planInfo">
    <h1>{{plan.title}}</h1>
    <div class="direccionDistancia">
      <p><strong>{{plan.city}}</strong></p>
      <p>{{plan.address}}</p> 
    </div>
    
    
    <div class="interests">
      <p>{{plan.category}}</p>
    </div>

    <div>
      <p>{{plan.description}}</p>
    </div>

    <div class="creador">
      <p class="creadorTexto">{{plan.user}}</p>
    </div>
    <div class="creador">
      <p class="creadorTexto">Participantes</p>
    </div>
    <!-- <div>
      <ion-list>
        <ion-item class="ionItem-Planes">
          <ion-label>Participantes</ion-label>
          <ion-select placeholder="Select One">
            <ion-select-option *ngFor="let filter of filters" value="filter"
              >{{filter}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-list>
    </div> -->

    <div class="iconosContainer">
      
      
      
      <ion-icon class="x" name="close-circle-outline"></ion-icon>
      <ion-icon class="fav" name="star"></ion-icon>
      <ion-icon class="tic" name="checkmark-done-outline"></ion-icon>
      

    </div>
  </div>
</div>
