.container{
    
    height: 100%;
    .planInfo{

        align-items: left;
        margin-left:5%;
        height: 40%;
        width:90%;
        margin-top: 85%;
        
        .title{

            width: 80%;
            text-align:left;
            font-family: nexa, sans-serif;
            color: white;
            font-size: 21px;
            margin-bottom: 10px;

        }
        
        .ciudadDireccion{

            .city{

                font-size: 17px;
                text-align:left;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                color:white;

            }
            .address{

                width:60%;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                text-align:left;
                color: white;
                font-size: 14px;

            }
        }

        .interests{

            .category{

                color: white;
                font-size: 14px;
                text-align:left;

            }

        }

        .creador{

            color: white;
            text-align:left;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            
            .creatorText{

                color: white;
                font-size: 14px;
                text-align:left;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            
            }

        }

        .enrolled{

            .enrolledText{
                color: -webkit-linear-gradient(#eee, pink, red);
                font-size: 11px;
                
                text-align:left;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

        }

        .infoIcon{
            align-self: right;
            margin-right: 4%;
        }

    }

    .infoIconContainer{

        .infoIcon{
            align-self: right;
            margin-right: 4%;
        }

    }
    

    .iconosContainer{

        width: 100%;
        
        display: flex;
        justify-content: space-around;
        z-index: 10;

        ion-icon{

            height:40px;
            width: 40px;
            
        }
        .x{

            color: red;

        }
        .fav{

            color:pink;

        }
        .tic{

            color: lime;

        }
    }
    
}

