<div class="container">
  

  <div class="planInfo">

    <p class="title"><strong>{{plan.title}}</strong></p>

    <div class="ciudadDireccion">

      <p class="city"><strong>{{plan.city}}</strong></p>

      <p class="address"><strong>{{plan.address}}</strong></p> 

    </div>
    
    
    <div class="iconoDescripcionContainer">
      
        <ion-icon class="iconoDescripcion" name="information-circle-outline" (click)="popoverDescription(e,plan.description)" ></ion-icon>
      
      
    </div>
    
    <!-- <div class="interests">
      <p class="category"><strong>{{plan.category}}</strong></p>
    </div> -->


    <!-- <div>
      <p class="description">{{plan.description}}</p>
    </div> -->


    <!-- <div class="creador">
      <p class="creatorTest"><strong>{{plan.user}}</strong></p>
    </div> -->


    <!-- <div class="enrolled">
      <p class="enrolledText"><strong>Participantes</strong></p>
    </div> -->


    <!-- <div>
      <ion-list>
        <ion-item class="ionItem-Planes">
          <ion-label>Participantes</ion-label>
          <ion-select placeholder="Select One">
            <ion-select-option *ngFor="let filter of filters" value="filter"
              >{{filter}}</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-list>
    </div> -->
    
  </div>

  <!-- <div class="infoIconContainer">
    <ion-icon name="information-circle-outline" class="infoIcon"></ion-icon>
  </div> -->

  <div class="iconosContainer">
      
    <ion-icon class="x" name="close-circle-outline"></ion-icon>
    <ion-icon class="fav" name="star"></ion-icon>
    <ion-icon class="tic" name="checkmark-done-outline"></ion-icon>
    
  </div>

</div>
