.container{
    
    .planInfo{
        align-items: left;
        margin-left:10%;
        height: 50%;
        width:90%;
        position: absolute;
        bottom: 0;
        
        
        .iconosContainer{
            display: flex;
            justify-content: center;
        }
        .direccionDistancia{
            display: flex;
        }
        .creador{
        
            .creadorTexto{
                margin-top: 17px;
            }
        }
        
    }
    
}
h1{
    font-size:23px;
    margin-bottom:10px;
}
p{
    text-align:left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
    color: red;
}