<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form class="form" >
    <ion-item lines="none">
      <ion-label position="stacked" >Nombre</ion-label>
      <ion-input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form__intem1_input" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}" class="form__intem1_input" type="text" required></ion-input>
    </ion-item>
    
    <ion-item lines="none">
      <ion-label position="stacked">Ciudad</ion-label>
      <ion-input [(ngModel)]="city" [ngModelOptions]="{standalone: true}" class="form__intem1_input" type="text" required></ion-input>
    </ion-item>


    <ion-item lines="none">
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form__intem1_input" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" minlength="6" [ngModelOptions]="{standalone: true}" class="form__intem1_input" type="text" required></ion-input>
    </ion-item>
    
    <p class="font-bold">Selecciona una categoría*</p>
    <div class="flex flex-wrap">
      <ion-chip
        class="mr-2 mb-2 px-3 whitespace-nowrap"
        *ngFor="let tag of selectedTags"
      >
        {{tag.name}}
        <ion-icon
          class="ml-3"
          color="default"
          (click)="removeTag(tag)"
          name="close-circle"
        ></ion-icon>
      </ion-chip>
    </div>
    <ion-button (click)="openTagsModal()" size="small" color="light">
      Añadir categoría
    </ion-button>



  </form>
  <ion-row  > 
      <ion-col class="contenedorBoton">
      <ion-button type="button" class="elboton" (click)="actualizarUsuario()">Confirmar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer class="p-4 flex justify-end">
  <ion-buttons>
    <ion-button [disabled]="!user" type="button" color="warning" (click)="closeSession()"
      >Cerrar sesión <ion-icon class="ml-2" name="exit-outline"></ion-icon
    ></ion-button>
  </ion-buttons>
</ion-footer>