.contenedorBoton{
    display:flex;
    justify-content: center;
    margin-top: 15px;
    
    
}
.form{
    margin-left: 10%;
    margin-right: 15%;
    
    .form__intem1_input{
        border-radius: 5px;
        border-style: solid;
        border-color: #ff4193;
    }
    
    
}
.elboton:hover{

    background-color: #9fffb4;
     color: black;
}