<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form class="form">
    <ion-item lines="none">
      <ion-label position="stacked" color="secondary">Nombre</ion-label>
      <ion-input [(ngModel)]="name" [ngModelOptions]="{standalone: true}"  class="form__intem1_input" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}" class="form__intem1_input" type="text" required></ion-input>
    </ion-item>
    
    <ion-item lines="none">
      <ion-label position="stacked"> Fecha de nacimiento</ion-label>
      <ion-datetime [(ngModel)]="dateBirth" [ngModelOptions]="{standalone: true}" class="form__item2_datetime"
        displayFormat="DD MMM YYYY"
        monthShortNames="ENE, FEB, MAR, ABR, MAY, JUN, JUL, AGO, SEP, OCT, NOV, DIC"></ion-datetime>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form__intem1_input" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form__intem1_input" type="password" required></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Ciudad</ion-label>
      <ion-input [(ngModel)]="city" [ngModelOptions]="{standalone: true}" class="form__intem1_input" type="text" required></ion-input>
    </ion-item>
    
  </form>
  <ion-row  > 
      <ion-col class="contenedorBoton">
      <ion-button type="button" color="primary" (click)="registrarUsuario()">Sign Up</ion-button>
    </ion-col>
  </ion-row>
</ion-content>