<ion-content fullscreen scroll-y="false">
  <form class="h-full w-full overflow-y-scroll" [formGroup]="planForm">
    <ion-slides
      class="overflow-y-scroll"
      #slider
      [options]="slideOpts"
      pager
      class="h-full w-full"
    >
      <ion-slide class="bg-pink">
        <div class="grid gap-4 content-center">
          <jo-label
            textColor="text-white"
            size="big"
            normal="Crear"
            bolded="plan"
          ></jo-label>
          <div class="flex justify-center">
            <img src="../../../assets/icon/door.png" />
          </div>
          <div class="borded borded--white mt-6">¿Empezamos?</div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="pt-12 px-12 grid gap-4 content-start w-full h-full">
          <jo-label normal="Titulo" bolded="plan"></jo-label>
          <ion-item class="ion-no-padding">
            <ion-input
              formControlName="title"
              placeholder="Inserta aquí un título"
            ></ion-input>
          </ion-item>

          <jo-label normal="Descripción" bolded="plan"></jo-label>
          <textarea
            formControlName="description"
            [rows]="5"
            [cols]="30"
            pInputTextarea
          ></textarea>
          <jo-label normal="Etiquetas" bolded="plan"></jo-label>
          <div class="overflow-y-scroll">
            <ng-container *ngIf="selectedTags?.length">
              <div class="flex gap-3 flex-wrap pb-4">
                <small
                  class="border border-gray-900 p-1 text-xs"
                  *ngFor="let selectedTag of selectedTags"
                >
                  {{ selectedTag.name }}
                </small>
              </div>
            </ng-container>
            <p-listbox
              [ngClass]="showTagsList ? '' : 'hide-list'"
              class="w-full"
              (onChange)="setSelectedTags($event)"
              (click)="showTagsList=true"
              (blur)="showTagsList=false"
              [options]="tagsListOptions"
              [group]="true"
              [(ngModel)]="selectedTagsFromSelector"
              [ngModelOptions]="{standalone: true}"
              [metaKeySelection]="false"
              [filter]="true"
              [multiple]="true"
              [listStyle]="{'max-height':'200px'}"
            >
              <ng-template let-group pTemplate="group">
                <div class="p-d-flex p-ai-center w-full">
                  <span>{{group.label}}</span>
                </div>
              </ng-template>
            </p-listbox>
          </div>
        </div>
      </ion-slide>

      <ion-slide class="bg-white">
        <div class="grid gap-4 content-start w-full h-full">
          <div class="px-12 grid gap-4 clipped-br pt-4 pb-12 bg-green-clear">
            <jo-label
              class="mt-6"
              normal="Número máximo de"
              bolded="participantes"
            ></jo-label>
            <div class="flex justify-center">
              <p-inputNumber
                class="w-full text-center"
                formControlName="maxPeople"
                [showButtons]="true"
                buttonLayout="horizontal"
                inputId="horizontal"
                spinnerMode="horizontal"
                decrementButtonClass="p-button-danger"
                incrementButtonClass="p-button-success"
                incrementButtonIcon="pi pi-plus"
                decrementButtonIcon="pi pi-minus"
              >
              </p-inputNumber>
            </div>
          </div>
          <div class="px-12 mt-2 bg-white">
            <jo-label normal="Fecha" bolded="plan"></jo-label>
            <p-calendar
              [showTime]="true"
              hourFormat="24"
              [minDate]="date"
              formControlName="when"
              [inline]="true"
              [showWeek]="true"
            ></p-calendar>
          </div>
          <div></div>
        </div>
      </ion-slide>

      <ion-slide class="bg-white">
        <div class="w-full h-full grid content-start">
          <div class="px-12 pt-12 bg-green-clear">
            <jo-label normal="Ubicación" bolded="plan"></jo-label>
          </div>
            <ion-searchbar
            class="relative w-full bg-green-clear p-4"
              placeholder="Dónde*"
              (ionInput)="searchLocation($event)"
              (ionBlur)="showLocationsResults = false"
            >
            <ion-list *ngIf="locationOptions?.length && !selectedLocation || showLocationsResults" class="w-full h-72 absolute left-0 bg-white z-50" [ngStyle]="{top: '100%'}">
              <ion-radio-group formControlName="location">
               <ion-item *ngFor="let location of locationOptions">
                 <ion-label>{{ location?.rawAddress }}</ion-label>
                 <ion-radio [value]="location" slot="end"></ion-radio>
               </ion-item>
              </ion-radio-group>
             </ion-list>
            </ion-searchbar>
          <div class="min-h-72 pb-14 clipped-br bg-green-clear">
            <div
              class="map h-72 w-full relative pb-4"
              leaflet
              [leafletOptions]="options"
              [leafletCenter]="center"
              (leafletMapReady)="onMapReady($event)"
            >
              <div
                class="w-full h-full"
                *ngIf="layer"
                [leafletLayer]="layer"
              ></div>
            </div>
            <div class="mt-4" *ngIf="selectedLocation">
             <div class="flex p-1 items-center justify-center">
              <ion-icon name="location"></ion-icon><ion-label><small class="text-sm">{{ selectedLocation.rawAddress }}</small></ion-label>
             </div>
            </div>
          </div>
          <div class="flex items-center justify-center slef-end">
            <button [disabled]="planForm.invalid && selectedTags?.length" (click)="sendForm()" class="bg-pink text-white py-2 px-3 rounded-md w-min">
              CREAR
            </button>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
