
  
.content{

  box-sizing: border-box;
  display: block;
  top:32px;

  .navBar{
    
    position:relative;
    top:-15px;
    z-index: 100;
    background-color: black;
    
    

    .searchBar{
      display: flex;
      justify-content: space-around;
      margin-top: 15px;
      margin-right: 10px;
      align-items: center;
      // border-radius: 50%;
      ion-searchbar{
        --placeholder-font-style: italic;
        --background:#c2c2c2;
      }
    }

      .selectCategory{
        
        border-radius: 10px;
        height: 36px;
        margin-right: 10px;
        width: 97px;

      }

    .filterSelected{
      // height:90px; /* 40px - more place for scrollbar, is hidden under parent box */
      // padding:5px;
      white-space:nowrap;
      overflow-x: scroll;
      overflow-y: hide;
    	-webkit-overflow-scrolling:touch;
      justify-content: space-around;

      .filter{
        padding: 6px;
        width: fit-content;
        background: cadetblue;
        white-space: break-spaces;
      }
      .filter + .filter {
        margin-left:5px
    }

    }
      

  }
  .filtersDateDuration{

    
    display:flex;

  }
  .body{
    position: relative;
    top:90px;
  }

  
  
  
}

// .scroll-hor{
//     display: flex;
//     overflow-y: hidden;
//     height:fit-content;
//     // white-space: nowrap;
// }

// .scroll-hor > *{ 
//     // display: inline-block;
//     flex:auto;
// }

ion-select {
    justify-content: center;
    --placeholder-color:red;
  }
  ion-select::part(placeholder) {
    color: #000000;
    opacity: 1;
  }
  /* Set the flex in order to size the text width to its content */
  ion-select::part(placeholder),
  ion-select::part(text) {
    flex: 0 0 auto;
  }
  
  
  /* Set the text color */
  ion-select::part(text) {
    color:white;
    background-color:gray;
  }
  



.icon-defecto {
    color: white;
    background-color: gray;
  
  }
  
.icon-seleccion {
    color: black;
    background-color: white;
}

#outPopUp {
    text-align: center;
    position: relative;
    z-index: 15;
    top: 400px;
    margin:50px;
    background-color: red;
  }
  ion-card:hover{
    cursor: pointer;
  }