.content {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: block;

  .header {
    display: flow-root;
    justify-content: space-between;
    min-height: 38%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 90%);
    background-color: #bdffcc;
    padding-bottom: 10%;
    .logoContainer {
      margin-left: 25px;
      margin-top: 45px;
      .logo {
        width: 60px;
        height: 32px;
      }
    }
    .titleContainerDiv1 {
      margin-left: 6%;
      margin-top: 3%;
      display: flex;
      justify-content: left;

      .tituloMis {
        font-size: 25px;
        color: #ff2d87;
        font-weight: 300;
      }
      .tituloPlanes {
        font-size: 25px;
        color: #ff2d87;
        font-weight: 425;
        margin-left: 10px;
      }
    }

    .searchbar-filtros {
      margin-top: 2%;
      .search-bar-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .searchbar {
          --background: transparent;
          --icon-color: #222623;
          --placeholder-color: #222623;
          width: 76%;
          margin: auto;
          border-bottom: 1px solid #000;
          display: inline-flex;
        }
      }
      .subCategories {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 5%;

        .filtro {
          font-family: MANROPE;
          color: #ff4193;
          height: 25px;
          background-color: inherit;
          padding-left: 1%;
          padding-right: 1%;
          font-size: 10px;
          font-weight: 800;
          border-radius: 4px;
          margin-right: 1%;
          margin-left: 1%;
          border: 1px solid #ff4193;
        }
        .filtro-selected {
          font-family: MANROPE;
          color: white;
          height: 25px;
          background-color: #ff4193;
          padding-left: 1%;
          padding-right: 1%;
          font-size: 10px;
          font-weight: 800;
          border-radius: 4px;
          margin-right: 1%;
          margin-left: 1%;
          border: 1px solid #ff4193;
        }
      }
    }
  }
  .body {
    position: relative;

    .card-container {
      display: flex;
      background-color: inherit;
      padding: full;
      box-shadow: none;
      border-radius: none;
      border-bottom: 0.3px solid lightgray;
      .image-container {
        margin: 15px;
        .image {
          margin-left: 10px;
          margin-right: 10px;
          margin-top: 10px;
          width: 85px;
          height: 78px;
        }
      }
      .title-tag-container {
        height: 100%;
        width: 100%;
        padding-bottom: 5%;

        .title {
          margin-top: 25px;
        }

        .subCategories {
          display: flex;
          justify-content: start;
          align-items: center;
          width: 100%;
          margin-top: 5%;

          .filtro {
            font-family: MANROPE;
            color: #ff4193;
            height: 20px;
            background-color: inherit;
            padding-left: 1%;
            padding-right: 1%;
            font-size: 10px;
            font-weight: 800;
            border-radius: 4px;
            margin-right: 1%;
            margin-left: 1%;
            border: 1px solid #ff4193;
          }
        }
      }
    }
  }
}

// .scroll-hor{
//     display: flex;
//     overflow-y: hidden;
//     height:fit-content;
//     // white-space: nowrap;
// }

// .scroll-hor > *{
//     // display: inline-block;
//     flex:auto;
// }

/* Set the flex in order to size the text width to its content */

/* Set the text color */

.icon-defecto {
  color: white;
  background-color: gray;
}

#outPopUp {
  text-align: center;
  position: relative;
  z-index: 15;
  top: 400px;
  margin: 50px;
  background-color: red;
}
ion-card:hover {
  cursor: pointer;
}
