
  
.content{

  .navBar{
    
    position:sticky;
    top:0px;
    z-index: 15;
    background-color:white;

    .searchBar__category{

      margin-top: 15px;
      display: flex;
      justify-content: space-around;
      align-items: center;
  

      ion-searchbar{
        --placeholder-font-style: italic;
      }
      .searchBar{
        
        border-radius: 50%;
        ion-searchbar{
      --placeholder-font-style: bold;
       }

      }
      .selectCategory{
        
        border-radius: 10px;
        height: 36px;
        margin-right: 10px;
        width: 80px;

      }
      
    }

  }
  .filtersDateDuration{

    
    display:flex;

  }
  .body{

   

  }

  
  
  
}

// .scroll-hor{
//     display: flex;
//     overflow-y: hidden;
//     height:fit-content;
//     // white-space: nowrap;
// }

// .scroll-hor > *{ 
//     // display: inline-block;
//     flex:auto;
// }

ion-select {
    justify-content: center;
    --placeholder-color:red;
  }
  ion-select::part(placeholder) {
    color: #000000;
    opacity: 1;
  }
  /* Set the flex in order to size the text width to its content */
  ion-select::part(placeholder),
  ion-select::part(text) {
    flex: 0 0 auto;
  }
  
  
  /* Set the text color */
  ion-select::part(text) {
    color:white;
    background-color:gray;
  }
  



.icon-defecto {
    color: white;
    background-color: gray;
  
  }
  
.icon-seleccion {
    color: black;
    background-color: white;
}

#outPopUp {
    text-align: center;
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    right: 50%;
    margin: -90px;
    background-color: red;
  }