

<ion-content class="content" >

    <div class='navBar' slot="fixed">
      <div class="searchBar">
      <ion-searchbar #val (ionInput)='handleInput($event)' (search)="handleFilters()"
        (ionClear) = "handleFilters()"
        placeholder="¿Quedamos?" showCancelButton="never" animated mode='ios'>
      </ion-searchbar>
      <ion-icon name='options' (click)='showFiltering()' size='large'>
    </ion-icon>
      </div>

      <div class='filterSelected'>
          <ion-chip class='filter' *ngFor='let filter of filtersSelected'>
            <ion-label >
              {{filter}}
            </ion-label>
            <ion-icon name='close-circle' (click)='removeFilter(filter)'></ion-icon>
          </ion-chip>
      </div>
    </div>
 
  <div class="body">
    <div id="outPopUp" *ngIf="noResults">
      <ion-label color="dark">
        No se encontraron resultados
      </ion-label>
    </div>


    <ion-list  *ngIf="yesResults">
      <ion-card *ngFor='let resultado of planesResultado' >
        <ion-card-header>
          <ion-card-subtitle class="title">{{resultado.title}}</ion-card-subtitle>
          <ion-card-title class="category">{{resultado.tagCategory.name}}</ion-card-title>
          <ion-card-title class="category">{{resultado.tag.name}}</ion-card-title>
          <ion-label>{{resultado.time}}</ion-label>
          <ion-label color='secondary'>{{resultado.city}}</ion-label>
          <ion-label color='warning'>{{resultado.createdBy}}</ion-label>
          <ion-label color='primary'>{{resultado.when}}</ion-label>
        </ion-card-header>
        <br>
      </ion-card>
    </ion-list>
  </div>



</ion-content>
