@import "../../../../global.scss";

:host {
  display: grid;
  grid-template-columns: min-content auto;
}
.tags {
  display: flex;
  position: relative;
  overflow: auto;
  width: auto;
  &__scrollable {
    flex-wrap: wrap;
  }
}
.tag {
  margin-top: 5px;
  margin-right: 5px;
  width: min-content;
}
