<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="recommended-plans" href="">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>Recomendados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search-plan">
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label>Buscar Plan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create-plan"   >
      <ion-icon name="flame-outline"></ion-icon>
      <ion-label>Crear Plan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="register">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="iniciar-sesion">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Tab 4</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>