<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button menu="first" color="primary"></ion-menu-button>
      </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-menu side="end" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary" class="menu-header">
      <ion-title>Buenas Tardes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item [routerLink]="['/edit-profile']"  >Editar Perfil </ion-item>
      <ion-item  >Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item> Menu Item</ion-item>
    </ion-list>
    <ion-toolbar class="menu-back-button">
      <ion-buttons>
        <ion-button (click)="Close()" >
          <ion-icon name="arrow-forward-outline" class="buton"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="recommended-plans" href="">
      <ion-icon name="flame-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="search-plan">
      <ion-icon name="compass-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="create-plan"   >
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="register">
      <ion-icon name="star-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="iniciar-sesion">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
