.menu-header{
    text-align: center;
}
.menu-back-button {
    position: absolute;
    bottom: 15px;
    .buton{
        width:35px;
        height:35px;
    }
}

ion-tabs{
    
    height: calc(100% - 64px);
    height: 100%;
}

ion-tab-bar, ion-tab-button{
    background-color: #222623;
   }
.mapa-icon{
    background-color: white;;
}   